.mainPage {
    display        : flex;
    text-decoration: none;
    height         : 30rem;
    padding        : 1rem 0rem;
    border-bottom  : 1px solid rgb(68, 67, 67);
    gap            : 5rem;
    margin-bottom  : 3rem;
    outline        : none;
}

.mainPage:hover {
    opacity: .9;
}

.mainPageContent {
    box-sizing: border-box;
    width     : 40%;
    text-align: left;
}

.mainPageContent__headline {
    color        : rgb(54, 51, 51);
    font-size    : 2.5rem;
    margin-bottom: 2rem;

}

.mainPageContent__description {
    color      : rgb(104, 101, 101);
    font-size  : 1.7rem;
    font-weight: normal;
    line-height: 2.2rem;
}

.mainPage__Img {
    height: 30rem;
    width : 60%;
}

.mainPage__Img img {
    width     : 100%;
    height    : 100%;
    object-fit: fill;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .mainPageContent__description {
        font-size  : 1.8rem;
        line-height: 2.3rem;
    }
}


@media (max-width: 420px) {
    .mainPage {
        flex-direction: column;
        height        : 60rem;
    }

    .mainPageContent__description {
        font-size  : 1.9rem;
        line-height: 2.5rem;
    }

    .mainPageContent {
        width: 100%;
    }

    .mainPage__Img {
        width : 100%;
        height: 32rem;
    }
}

/* pagination-code */
.pagination {
    /* margin         : 1.5rem auto; */
    display        : flex;
    list-style     : none;
    outline        : none;
    justify-content: center;
}

.pagination>.active>a {
    background-color: rgb(54, 51, 51);
    border-color    : rgb(54, 51, 51);
    color           : #fff;
    font-size       : 1.3rem;
}

.pagination>li>a {
    border       : 1px solid rgb(54, 51, 51);
    border-radius: 2rem;
    padding      : 1.5rem 3rem;
    outline      : none;
    cursor       : pointer;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: rgb(54, 51, 51);
    border-color    : rgb(54, 51, 51);
    outline         : none;
}

.pagination>li>a,
.pagination>li>span {
    color: rgb(54, 51, 51)
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: unset
}