.body {
    display        : flex;
    justify-content: center;
}

.body button {
    margin-top      : 1rem;
    color           : white;
    background-color: darkred;
    border          : none;
    padding         : 0.7rem;
    border-radius   : 2rem;
    font-size       : 15px;
    outline         : none;
    font-weight     : 550;
}

.body button:hover {
    background-color: white;
    color           : darkred;
    cursor          : pointer;
}

.description-body {
    display        : flex;
    justify-content: center;
}

#description {
    display: none;
    width  : 50%;
}

#description p {
    background-color: rgb(79, 79, 228);
    font-size       : 13pt;
}