form {
    text-align   : center;
    margin-top   : 2em;
    margin-bottom: 2rem;
}

select {
    width     : 40%;
    height    : 2.6rem;
    text-align: center;
    font-size : 1rem;
    border    : 2px solid black;
}

select:hover {
    cursor: pointer;
}