form {
    text-align   : center;
    margin-top   : 2em;
    margin-bottom: 2rem;
}

select {
    width     : 40%;
    height    : 2.6rem;
    text-align: center;
    font-size : 1rem;
    border    : 2px solid black;
}

select:hover {
    cursor: pointer;
}

@media (min-width:380px) and (max-width:600px) {
    select {
        width: 80%;
    }
}

@media(min-width:250px) and (max-width:380px) {
    select {
        width: 90%;
    }
}