.info-of-company {
    color                : white;
    display              : grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content      : center;
    column-gap           : 1.5rem;
    row-gap              : 1rem;
}


p {
    background-color   : black;
    border             : 2px solid white;
    padding            : 0.7rem;
    /* width           : 100%; */
    display            : flex;
    justify-content    : center;
    align-items        : center;
}

p:last-child {
    display        : flex;
    flex-direction : row;
    justify-content: center;
}

a {
    font-size: 1rem;
    color    : yellow;
}

a:hover {
    color: pink;
}